- name: Create portainer stacks
  ansible.builtin.include_tasks: create_stack.yml
  vars:
    portainer_host: "{{ portainer_api_url }}"
    admin_user: "{{ portainer_admin_user }}"
    admin_password: "{{ portainer_admin_password }}"
    endpoint_id: "{{ portainer_endpoint_id }}"
    stack_name: "{{ item.name }}"
    stack_compose: "{{ lookup('ansible.builtin.template', role_path + '/templates/' + item.name + '.yml') }}"
    directories: "{{ item.dirs }}"
    templates: "{{ item.templates }}"
  with_items:
    - name: caddy
      templates:
        - Caddyfile
      files:
        - site
    - name: jellyfin
      dirs:
        - config
        - cache
